
.intro__list{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.intro__img{
  display: block;
  max-width: 1920px;
  height:900px;

  &--tablet{
    display: none;;
  }
  &--mobil{
    display: none;;
  }
}
.intro__box-container{
  position: relative;
}
.intro__box{
  position:absolute;
  top: -600px;
  left: 0;
}
.intro__button-container{
  position: relative;
}
.intro__button{
 width: 70px;
 height: 70px;
 border: none;
 border-radius: 5px;
 background-color: #FFD600;
 background-image: url("../img/Arrow2.svg");
 background-repeat: no-repeat;
 background-position: center center;
 position: absolute;
 bottom: -746px;
 left: 70px;

 &:hover{
  opacity: 0.8;
}
&:active{
  opacity: 0.6;
}
}
.intro__button--left{
 width: 42px;
 left: 20px;
 background-image: url("../img/Arrow1.svg");

}
.intro__title{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #272727;
  margin: 0;
  margin-bottom: 10px;
}
.intro__text{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #272727;
  width: 543px;
  margin: 0;
  margin-bottom: 27px;
}
.intro__link{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 25px 115px;
  color: white;
  background-color: #0055B8;
  border-radius: 5px;

  &:hover{
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
}

@media only screen and (max-width:1179px){
  .intro__box{
    left: 10px;
  }
  .intro__img{
    display: none;
  }
  .intro__img--tablet{
    display: block;
    max-width: 1024px;
    height:872px;
  }
}

@media only screen and (max-width:1018px){

  .intro__button-container{
    max-width: 375px;
  }
  .intro__box{
    left: 10px;
  }
  .intro__img--tablet{
    display: none;
  }
  .intro__img--mobil{
    display: block;
  }
  .intro__box{
    position:relative;
    top: 0;
  }
.intro__title{
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  max-width: 227px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.intro__text{
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  max-width: 333px;
  margin-left: auto;
  margin-right: auto;
}
.intro__link{
  display: none;
}
.intro__button{
  bottom: -579px;
  width: 44px;
  height: 44px;
}
.intro__button--left{
  width: 26px;
  height: 44px;
}
}