.tech__container{
  max-width: 1960px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.tech__img{
  display: block;
  max-width: 750px;
  height: 613px;
}
.tech__title{
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #272727;
  max-width: 400px;
  margin: 0;
  position: relative;

  &::before{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #FFD600;
    margin-bottom: 16px;
  }
  &::after{
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    width: 275px;
    height: 152px;
    background-image: url("../img/logo-before.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.tech__text{
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  max-width: 750px;
  margin: 0;
  margin-top: 15px;
}
.tech__box{
  margin-left: 111px;
}
.tech__inner{
  padding-left:100px;
}
.tech__expert{
  max-width: 450px;
  position: relative;


  &::before{
  position: absolute;
  left: -100px;
  content: "";
  width: 67px;
  height: 67px;
  background-image: url("../img/эксперт1.png");
  background-repeat: no-repeat;
  background-position: center center;
  }
}
.tech__modern{
  max-width: 520px;
  position: relative;

  &::before{
    position: absolute;
    left: -100px;
    content: "";
    width: 67px;
    height: 67px;
    background-image: url("../img/isqGaoU82.png");
    background-repeat: no-repeat;
    background-position: center center;
    }
}
.tech__location{
  max-width: 400px;
  position: relative;

  &::before{
    position: absolute;
    left: -100px;
    content: "";
    width: 67px;
    height: 67px;
    background-image: url("../img/location.png");
    background-repeat: no-repeat;
    background-position: center center;
    }
}
.tech__inner-title{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  margin-top: 27px;
}
.tech__inner-text{
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
  margin: 0;
  margin-top: 5px;

}